.filterDropdown .filter {
    box-shadow: var(--filter-shadow);
    height: var(--filter-search-height);
    font-size: 0.875rem !important;
}

.filterMenu,
.filterDropdown .filter {
    width: 190px;
}

.filterMenu {
    margin-top: 3px !important;
    font-size: 0.875rem !important;
}

.filterMenu:hover {
    cursor: pointer;
}

.filterDropdown .filter,
.filterMenu {
    background-color: var(--secondary-color) !important;
}

.filter,
.filterMenu li {
    color: var(--font-color) !important;
}

.menuItem:hover {
    background-color: var(--bg-filter-menu) !important;
}

@media (max-width: 767px) {

    .filterDropdown {
        margin-top: 40px;
    }
}