.borderCountry{
    font-size: 0.875rem;
    box-shadow: var(--border-countries-shadow);
    border-radius: 2px !important;
    padding: 2px 20px !important;
    background-color: var(--secondary-color);
}