.countryCard {
    box-shadow: var(--card-shadow);
    padding-bottom: 40px !important;
    margin-bottom: 4.4rem !important;
    background-color: var(--secondary-color) !important;
}

.flag {
    height: 170px;
}

.favouriteButton {
    bottom: 11px;
    right: 9px;
    font-size: 1.06rem;
    color: #E5E5E5;
}


@media (min-width: 768px) and (max-width: 1200px) {
    .countryCard {
        margin-bottom: 3rem !important;
    }
}

@media (max-width: 767px) {
    .countryCard {
        margin-bottom: 2.3rem !important;
    }
}