.notFoundImg {
    width: 300px;
}

.notFoundPage {
    height: calc(100vh - 72px);
    padding: 0 30px;
}

.title {
    color: var(--secondary-font-color);
}

.text {
    color: var(--notFound-text-color);
    width: 90%;
}